<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>noncereboot11</string>
	<key>Program</key>
	<string>/usr/bin/noncereboot11</string>
	<key>UserName</key>
	<string>root</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/noncereboot11.log</string>
	<key>ProgramArguments</key>
    <array>
    	<string>noncereboot11</string>
        <string>-Vgs</string>
        <string>0xfeedfacecafebeef</string>
    </array>
</dict>
</plist>
